@using Autofocus_Demo.Utils
@inject IJSRuntime JSRuntime
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<input @ref=reference class="focus" />

@code {
    ElementReference reference;

    protected override void OnAfterRender(bool firstRender)
    {
        JSUtils.RequestFocus(JSRuntime, reference);
    }

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    JSUtils.RequestFocus(JSRuntime, ".focus");
    //}
}
